html {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

header {
    background-color: #8a7183;
    padding: 5px 10px 5px 10px;
  }

footer {
    background-color: #8a7183;
    padding: 5px 10px 5px 10px;
  }

footer a {
  color: white;
}

nav li {
    padding: 20px;
    display: inline;
  }

#setHeader {
  text-align: center;
}

#pack {
  width: 1162px;
  height: 664px;
  margin-left: auto;
  margin-right: auto;
}

#draftButton {
  font-size: 18px;
}

.pack {
    border: 8px solid transparent;
    margin: 5px;
    cursor: pointer;
}

.pack {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.pack:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
