header {
    background-color: #8a7183;
    padding: 5px 10px 5px 10px;
  }

footer {
    background-color: #8a7183;
    padding: 5px 10px 5px 10px;
  }

footer a {
  color: white;
}

nav li {
    padding: 20px;
    display: inline;
  }

#setHeader {
  text-align: center;
}

#pack {
  width: 1150px;
  height: 664px;
  margin-left: auto;
  margin-right: auto;
}

#draftButton {
  font-size: 18px;
}

.pack {
    margin: 10px;
    cursor: pointer;
    /*transition: transform .225s;*/
}

/*.pack:hover {*/
  /*-ms-transform: scale(1.35); /* Internet Explorer 9 */
  /*-webkit-transform: scale(1.35); /* Safari 3-8 */
  /*transform: scale(1.35); */
/*}*/
